body {
  font-family: Arial, sans-serif;
  background: #f0f1f3;
  font-size: 1.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container .link-detail {
  font-size: 32px;
}
.container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 50px;
}
.container {
  /* max-width: 600px; */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.input-container {
  margin: 20px 0;
  border-radius: 20px;
}
.input-container input {
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}
#expenseDate {
  width: 100%;
  height: 80px;
  padding: 20px 26px;
  font-size: 40px;
}
.input-container input[type="text"],
.input-container input[type="number"] {
  width: 100%;
  padding: 20px 26px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 40px;
}
.button-container {
  text-align: center;
}
.button-container > button {
  width: 100%;
  height: 80px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  background: #0866ff;
  color: white;
  font-size: 32px;
}
table {
  margin-top: 16px;
  border: 1px solid #ccc;
  width: 100%;
  border-collapse: collapse;
  font-size: 32px;
}
th,
td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
thead > tr {
  background: #ccc;
}
.total {
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 40px;
  }
}
i {
  font-size: 32px;
  padding: 4px;
}
.color-icon {
  color: #0866ff;
}
.color-icon-trash {
  margin-left: 4px;
  color: #ff0b13;
}

tr:nth-child(even) {
  background: #fff;
}

.container-total {
  font-size: 32px;
}
.container-total .position {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.container-month {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container-month .per-month {
  width: 50%;
  margin-top: 8px;
  justify-content: start;
}
.container-month .total-month {
  width: 100%;
  margin-top: 8px;
  justify-content: start;
  color: #0866ff;
}
